/* =========== PÁGINA NOSSAS-LENTES =========  */

.center-galery{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

.main-cta h2{
    color: white;
    font-size: 40px;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.main-cta p{
    color: white;
    font-size: 25px;
    margin: 30px 0;
    text-shadow: black 0.1em 0.1em 0.2em;
}

/* ======= seção conteúdo ========*/

.lens{
    display: flex;
    flex-wrap: wrap;
}

.marca{
    width: 30%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.marca img{
    width: 250px;
    margin-bottom: 25px;
}

.marca h2{
    font-size: 2rem;
    color: #124265;
    margin: 20px 0 20px 0;
}

.marca h3{
    font-size: 1.5rem;
    color: #124265;
    margin: 20px 0 20px 0;
}

.marca p{
    font-size: 1rem;
    color: #124265;
}

.marca .text{
    font-size: 1.3rem;
}

.gif{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100% 100% 100% 100%;
    box-shadow: 1px 1px 40px 0px rgb(0 0 0 / 25%);
}

.video{
    width: 70%;
    height: auto;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.video h1{
    font-size: 2rem;
    color: #124265;
    margin: 2rem 0 2rem 0;
}

.video .uv{
    font-size: 1.7rem;
}

.video p{
    font-size: 1.2rem;
    color: #124265;
}

.infos{
    display: flex;
    flex-wrap: wrap;  /* responsivo   */
    padding: 2rem 0;
}

.infos-single{
    border-radius: 0.5rem;
    background-color: #124265;
    width: 30%;
    margin-right: 3%;
    padding: 1.5rem 1.5rem;
    margin-bottom: 3%;
}

.infos-single h2{
    color: white;
    margin: 0.6rem 0;
    font-size: 1.7rem;
}

.infos-single p{
    color: white;
    font-size: 1rem;
    line-height: 1rem;
}

.sun{
    width: 50%;
}

.sun img{
    width: 250px;
}

.sun p{
    font-size: 1.3rem;
    color: #124265; 
}

.tratamentos{
    width: 50%;
}

.tratamentos h2{
    font-size: 1.3rem;
    color: #124265;
    margin: 20px 0 20px 0;
}

.tratamentos .uv{
    width: 120px;
    padding-left: 20px;
    
    
}

.tratamentos .fast{
    width: 150px;
    padding-left: 30px;
}

.tratamentos .sun-logo{
    width: 150px;
    padding-left: 20px;
}

.tratamentos .suprema{
    width: 150px;
    padding-left: 20px;
}

/* ===== página suprema =====  */

.marca-sup{
    width: 50%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.video-sup{
    width: 50%;
    height: auto;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.video-sup img{
    width: 450px;
    margin-bottom: 25px;
    margin-top: 65px;
}

.video-sup h1{
    font-size: 1.9rem;
    color: #124265;
    margin: 20px 0 20px 0;
}

.marca-sup img{
    width: 450px;
    margin-bottom: 25px;
}

.marca-sup h3{
    font-size: 1.5rem;
    color: #124265;
    margin: 20px 0 20px 0;
}

.marca-sup p{
    font-size: 1rem;
    color: #124265;
}

.marca-sup .text{
    font-size: 1.3rem;
}

.gif-sup{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100% 100% 100% 100%;
    box-shadow: 1px 1px 40px 0px rgb(0 0 0 / 25%);
}

.infos-single-sup{
    border-radius: 0.5rem;
    background-color: #4a84c4;
    width: 45%;
    margin-right: 3%;
    padding: 0.5rem 0.5rem;
    margin-bottom: 3%;
}


/* ======== RESPONSIVO ========  */

@media only screen and (max-width: 768px){
    
    
    .marca{
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        text-align: center;
    }

    .marca-sup{
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        text-align: center;
    }
    
    .marca img{
        width: 180px;
    }

    .marca-sup img{
        width: 300px;
    }

    .marca .gif{
        width: 60%;
        text-align: center;
    }

    .marca-sup .gif{
        width: 60%;
        text-align: center;
    }

    .marca > img > .tabela{
        width: 100%;
    }

    .marca h2{
        text-align: center;
        font-size: 1.5rem;
    }

    .marca p{
        text-align: justify;
    }

    .video video{
        width: 100%;
    }

    .video-sup img{
        width: 100%;
    }
    
    .video{
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }

    .video-sup{
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .video h1{
        font-size: 1rem;
        margin: 1.5rem 0;
    }
    
    .video p{
        font-size: 1rem;
    }

    .video img{
        width: 100%;
    }

    .infos{
        padding: 0;
    }
    
    .infos-single{
        width: 100%;
        margin-bottom: 20px;
    }

    .infos-single-sup{
        width: 100%;
        margin-bottom: 20px;
    }

    .infos-single-sup img{
        width: 100%;
        /*margin-bottom: 20px;*/
    }
    
    .sun{
        width: 100%;
        text-align: center;
    }

    .sun img{
        width: 10rem;
        line-height: 100vw;
    }
    
    .sun p{
        font-size: 1.1rem;
        text-align: center;
    }
    
    .tratamentos{
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }
    
    .tratamentos .uv{
        padding-left: 0;
    }

    .tratamentos .fast{
        padding-bottom: 30px;
        padding-top: 15px;
    }

    .tratamentos h2{
        font-size: 1rem;
    }
    
}