/* =============== página PRODUTOS =================  */

h2 .text {
    width: 600px;
    font-size: 190px;
    line-height: 1.86;
    letter-spacing: -0.02em;
    color: white;
}

.center .projetos{
    display: flex;
    flex-wrap: wrap;  /* responsivo   */
    padding: 30px 0;
}

.proj-single{
    border-radius: 10px;
    background-color: white;
    width: 23%;
    margin-right: 2%;
    padding: 20px 20px;
    margin-bottom: 10px;
}

.proj-single video{
    max-width: 100%;
}

.proj-single h2{
    color: #124265;
    margin: 10px 0;
    font-size: 16px;
}

.proj-single p{
    color: #124265;
    font-size: 14px;
    line-height: 25px;
}