/* =============== página PRODUTOS =================  */

.center-galery{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
    /*display: flex;
    flex-wrap: wrap;*/
}

.main-cta h2{
    color: white;
    font-size: 40px;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.main-cta p{
    color: white;
    font-size: 25px;
    margin: 30px 0;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.galeria{
    background-color: #2692D7;
    padding-top: 30px;
    padding-bottom: 30px;
}



